APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=680b2b830035595d7746
APPWRITE_DATABASE_ID=680b2cfb002805548743
APPWRITE_PRODUCT_COLLECTION_ID=marketplace_showcases
APPWRITE_PRODUCT_BUCKET_ID=69032c8c002ad7e77e5c
PANDIT_PRINTING_BUSINESS_ID=6a5e771161b00abc9be1
